/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.tools-card-list{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 12px;
}

.tool-card{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  background-color: var(--box-bg);
  border: 1px solid rgb(39, 39, 39);
  border-radius: 12px;
  padding: 13px 14px;
}

.view-mode .tool-card__delete-btn{
  display: none;
}

.tool-card__icon-container{
  position: relative;
}

.view-mode .tool-card__img-input-icon{
  display: none;
}

.tool-card__icon{
  --size: 46px;

  height: var(--size);
  width: var(--size);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(23, 23, 23);
  border-radius: 8px;
}

.tool-card__name{
  font-size: var(--tools-name-txt);
  font-weight: 500;
  line-height: 1.6em;
  color: var(--text-color);
}

.tool-card__details{
  font-size: var(--tools-about-txt);
  font-weight: 500;
  line-height: 1.5em;
  color: var(--text-color-2);
}

.view-mode .tools-card-list__add-tool-btn{
  display: none;
}

/* ============================================================================
                                 EDIT MODE
  ============================================================================= */
.edit-mode .tool-card__delete-btn{
  background: none;
  top: -14px;
  right: -5px;
  font-size: 1.4rem;
  border: none;
  position: absolute;
}

.edit-mode .tool-card{
  gap: 16px;
}

.edit-mode .tool-card__img-input-icon{
  position: absolute;
  top: -7px;
  right: -3px;
  font-size: 0.8rem;
}

.edit-mode .tool-card__name{
  margin-bottom: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edit-mode .tool-card__details{
  padding: 4px 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.edit-mode .tools-card-list__add-tool-btn{
  border-radius: 12px;
  padding: 15px 0;
}


@media(width >= 40.625em){
  .tools-card-list{
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}